# Copyright (C) 2023 Alessandro Iepure
#
# SPDX-License-Identifier: GPL-3.0-or-later

# IDE folders
.flatpak/
.flatpak-builder/
.vscode/

# Build direcctories
builddir/
_build/

# Configs
.pre-commit-config.yaml
.mypy_cache/

# Env files
.env

# Flatpak bundles
me.iepure.Ticketbooth.flatpak
me.iepure.Ticketbooth.Devel.flatpak

/subprojects/blueprint-compiler
